  body, h1,h2,h3,h4,h5,h6,p {font-family: cursive;}
    ::-webkit-scrollbar {
    width: 15px;
  }

/* Track */
  ::-webkit-scrollbar-track {
    background: lightgreen; 
  }

/* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px; 
  }

/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(90deg,yellow,green,blue,lightblue); 
  }
body{
  background-color: #111;
  color: lightblue;
}
    ::selection {
  color: red;
  background: greenyellow;
  border-radius: 5px;
}
    ::placeholder {
  color: greenyellow;
}
p{
  font-size: 20px;
}
  .navbar-nav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 5px;
  }
  .content {
    font-size: 28px; /* Increased text to enable scrolling */
   position: relative;
   margin-left: 150px;
  }
    .resume-button:hover {
   background:-webkit-linear-gradient(90deg,yellow,green,blue);
}
  @media screen and (max-width:750px) {
    body{
      width: 95%;
      font-size: 5px;
    }
    .content{
      margin-left: 90px;
    }
    .navbar-nav {
    font-size: 10px;
  }
    .navbar-nav {
          width: 100px;
    }
  }
    .navbar-nav .fa {
    font-size: 50px;
  }
  
  .navbar-nav a {
    padding: 20px 12px 20px 16px;
    margin-left: 7%;
    text-decoration: none;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  .navbar-nav a:hover {
    color: #f1f1f1;
  }
  
  .skills {
    width: 80%;
    background-color: #ddd;
    }
  .skill {
    text-align: right;
    padding-top: 0;
    padding-bottom: 10px;
    color: white;
    height: 20px;
    font-size: 15px;
  }
  .photography {width: 60%; background-color: #808080;}  
  .Videography {width: 50%; background-color: #808080;}  
  .web-desing {width: 80%; background-color: #808080;}  
  .photoshop {width: 70%; background-color: #808080;}  
 
 #myphotos {
  margin-top: 10%;
 }
 #myphotos img {
  background: white;
  border: 10px solid transparent;
 }
 .social {
  position: fixed;
  top: 50%;
  right: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.social a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
  border-top-left-radius: 10px;
}
.instagram{
  background: red;
  color: white;
}
.twitter {
  background: #55ACEE;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
   border-bottom-left-radius: 10px;
}
